header ul {
	list-style: none;
	padding: 0;
	background-color: #fff;
}
header ul li {
	display: inline-block;
}
header ul li a {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	padding: 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #cacaca;
}
header ul li a.active {
	background-color: #e6e6e6;
}
.page {
	height: calc(100vh - 60px);
	padding-top: 80px;
	background-image: url('../images/poster_card.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.calc {
	background-color: hsla(0,0%,100%,.92);
	border: 20px solid hsla(0,0%,75.7%,.24);
	padding: 20px 45px;
	width: 49%;
	margin: 0 auto;
	border-radius: 0;
	color: #000;
}
.calc h1 {
	font-size: 40px;
	color: #ed5b84;
	font-weight: 800;
	user-select: none;
	margin: 0;
	text-align: center;
	margin-bottom: 20px;
}
.calc input, .calc select, #result {
	display: block;
	width: calc(100% - 20px);
	height: auto;
	padding: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 10px;
	color: #212529;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px;
}
#result {
	height: 24px;
}
.calc select {
	width: 100%;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 10px;
	cursor: pointer;
}
.calc button {
	background-color: #ed5b84;
	border: none;
	width: 100%;
	margin: 15px 0 0;
	padding: 11px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	user-select: none;
	display: block;
	border-radius: 7px;
}