{% extends "Layout.html" %}
{% block content %}
<div class="page">
	<div class="calc">
		<h1>
			Calculator
		</h1>
		<input type="number" name="amount"
			id="amount"
			placeholder="Amount"
		>
		<select name="from" id="from">
			{% for item in currencyList %}
				<option value="{{ item.id }}">
					{{ item.currencyName }}
				</option>
			{% endfor %}
		</select>
		<select name="to" id="to">
			{% for item in currencyList %}
				<option value="{{ item.id }}">
					{{ item.currencyName }}
				</option>
			{% endfor %}
		</select>
		<p id="result">
			result
		</p>
		<button id="calculate-button">
			Calculate
		</button>
	</div>
</div>
{% endblock %}