<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Example</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/reset.css">
	</head>
	<body>
		<div id="layout">
			<header>
				<ul>
					<li>
						<a href="/">
							calc
						</a>
					</li>
					<li>
						<a href="/history">
							history
						</a>
					</li>
					<li>
						<a href="/settings">
							settings
						</a>
					</li>
				</ul>
			</header>
			<div id="main">
				<div class="content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>

		<script src="js/main.js"></script>
	</body>
</html>